{% extends "pages/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Jelszó Átállítás | Library-O {% endblock %}

{%block szuro_navbar%}
{%endblock%}

{% block content %}
<div class="container mt-5 topdown-animate">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4 border-0 rounded">
                <h2 class="text-center mb-4"><b>A jelszó átállítása sikeres!</b></h2>
                <p>A jelszavad sikeresen át lett állítva. Jelentkezz be <a href="{%url 'login' %}">itt...</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}