{% extends "pages/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Jelszó Átállítás | Library-O {% endblock %}

{%block szuro_navbar%}
{%endblock%}

{% block content %}
<div class="container mt-5 topdown-animate">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4 border-0 rounded">
                <h2 class="text-center mb-4"><b>Elküldve!</b></h2>
                <p class="text-left ml-2">Elküldtük az e-mailt a megfelelő linkkel a jelszó visszaállításához. </p>
                <p class="text-left ml-2">Ha nem kaptál e-mailt, ellenőrizd a Spam mappád, és bizonyosodj meg róla, hogy az oldalunkra regisztrált létező e-mail címet adtál meg... </p>
                <br><br><hr>
                <p>Vissza a főoldalra <a href="{%url 'home' %}">itt...</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}