<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jelszó átállítás | Library-O</title>
</head>
<body>
        <h2>Jelszó átállítás | Library-O</h2>
        
        <p>Kedves {{ user.username }},</p>
        
        <p>Jelszava átllítását kérvényezte a weboldalunkon.</p>
    
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="button">Kattintson ide a jelszó átállításához!</a>
        
        <p>Ha nem Ön kérte ezt a jelszó átállítást, kérjük hagyja figyelmen kívül ezt az emailt.</p>
        
        <p>Üdvözlettel,<br> Library-O</p>
    </div>
</body>
</html>