<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email-cím megerősítés | Library-O</title>
</head>
<body>
    <h2>Email-cím megerősítés | Library-O</h2>
    <p>Kedves {{ user.username }},</p>
    <p>Kérjük, erősítse meg az e-mail címét a regisztráció befejezéséhez!</p>
    <p><a href="{{ verification_link }}">Kattintson ide az e-mail cím megerősítéséhez</a></p>
    <br>
    <p>Üdvözlettel,<br> Library-O</p>
</body>
</html>