{% extends 'base.html' %}
{% block title %}Neked ajánlott | Library-O {% endblock %}

{% block filter_navbar %}
  {% include 'filter_navbar.html' %}
{% endblock %}

{%load static%}
{%load cloudinary_optimize%}

{% block javascript %}
<script>
  window.onload = function() {
    document.querySelector('#for-you-header-title').classList.add('header-title-animate');
  };
</script>
{% endblock %}

{% block content %}
<header class="filters-header">
  <h1 id='for-you-header-title'>Személyre szabott</h1>
</header>



  {% if top_categories %}
  {% for category in top_categories %}
  <div class="container home-body">
    <h2 class="carousel-h2 fade-in-effect-general">
      {{ category.name }}
    </h2>
                <!-- megszamozzuk a carouselek ID-jet !-->
      <div id="carouselCategoryFilter{{ forloop.counter }}" class="carousel slide carousel-books-list fade-in-effect-general" data-interval="false">

          <!-- POTTYOK CARUSEL ALATT.-->
        <ol class="carousel-indicators">
          {% for book_part in category.books_group %}
            <li data-target="#carouselCategoryFilter" 
            data-slide-to="{{ forloop.counter0 }}" 
            class="{% if forloop.first %}active{% endif %}">
            </li>
          {% endfor %}
        </ol>

        <!-- tovabbi konyvek gomb.-->
        <div class="tovabbi-konyvek d-flex justify-content-end align-items-center mb-3">
          <a href="{% url 'category_filter' category.id %}" class="btn search-button">
            További könyvek <i class="fa fa-arrow-right"></i>
          </a>
        </div>

        <div class="carousel-inner">
          {% for book_part in category.books_group %}

            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <div class="row justify-content-center">
                {% for book in book_part %}
                  {% if book %}  {# Add this check #}
                    <div class="col-md-3 col-sm-6 mb-4">
                      <a href="{% url 'book_detail' book.id %}" class="card-link" style="text-decoration: none; color: inherit;">
                        <div class="book-card">
                          {% if book.cover_image %}
                            <img src="{{ book.cover_image.url|cloudinary_minimize_image }}" loading="lazy" class="card-img-top" alt="{{ book.title }}">
                          {% else %}
                            <img src="{% static 'site_images/unavailable_img.jpg' %}" loading="lazy" class="card-img-top" alt="{{ book.title }}">
                          {% endif %}
                          <div class="card-body">
                            <h5 class="card-title"><strong>{{ book.title }}</strong></h5>
                            <p class="card-text">
                              <strong>Szerző:</strong> {{ book.author.k_nev }} {{ book.author.v_nev }}<br>
                              <strong>Műfaj:</strong>
                              {% for cat in book.category.all %}
                                {{ cat.category_name }}{% if not forloop.last %}, {% endif %}
                              {% endfor %}
                            </p>
                            {% if book.is_available %}
                              <p class="availability-status available">Elérhető: {{ book.available_copies }} db</p>
                            {% else %}
                              <p class="availability-status unavailable">Nem elérhető.</p>
                            {% endif %}
                          </div>
                        </div>
                      </a>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          
          {% endfor %}
        </div>

        <a class="carousel-control-prev" href="#carouselCategoryFilter{{ forloop.counter }}" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselCategoryFilter{{ forloop.counter }}" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  {% endfor %}
{% else %}
  <div class="white-container">
    <div class="no-content-alert">
      <p>Böngéssz, kívánságlistázz, és kölcsönözz könyvet, hogy személyre szabott ajánlásokat kapj!</p>
      <p><a href="{% url 'all_books_filter' %}">Böngéssz a választékunkból!</a></p>
    </div>
  </div>
{% endif %}

{%block extrascript%}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const faders = document.querySelectorAll('.fade-in-effect-general');
  
    const appearOptions = {
      threshold: 0.05,
      rootMargin: "0px 0px -50px 0px"
    };
  
    const appearOnScroll = new IntersectionObserver(function (entries, observer) {
      entries.forEach(entry => {
        if (!entry.isIntersecting) return;
  
        entry.target.classList.add("visible");
        observer.unobserve(entry.target);
      });
    }, appearOptions);
  
    faders.forEach(fader => {
      appearOnScroll.observe(fader);
    });
  });
  </script>

{%endblock%}

{%include 'footer.html'%}

{% endblock %}
