{%load static%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">
      <!-- SVG INNEN : https://icons.getbootstrap.com/icons/book/-->
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-book mr-2" viewBox="0 0 16 16">
        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
      </svg> 
    Library-O</a>
    

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Use d-flex to align the profile and search side by side -->
          
      <div class="d-flex ml-auto">

        {%if user.is_authenticated%}
        <!-- CURRENTLY BORROWING ICON -->
        <ul class="navbar-nav list-unstyled">
          <li class="nav-item">
            <a class="nav-link invert-navbar-img" href="{% url 'current_borrowings'%}">
              <img src="{% static 'site_images/inprogress.png' %}" class="rounded-circle" width="45" height="45" alt="CurrentlyBorrowingPic">
            </a>
          </li>
        </ul> 

        <!--WISHLIST ICON -->
        <ul class="navbar-nav list-unstyled">
          <li class="nav-item ">
            <a class="nav-link invert-navbar-img" href="{% url 'view_wishlist' %}">
              <img src="{% static 'site_images/wishlist.png' %}" width="45" height="45" alt="WishlistPic">
            </a>
          </li>
        </ul> 
        {%endif%}

        <!-- IGENYLESEK BOOK ICON -->
        <ul class="navbar-nav list-unstyled">
          <li class="nav-item">
            {%if user.is_authenticated%}
            <a class="nav-link invert-navbar-img" href="{% url 'view_borrowing_list' %}">
              <img src="{% static 'site_images/borrowbookicon.png' %}" width="45" height="45" alt="BorrowPic">
            </a>
            {%else%}
            <a class="nav-link invert-navbar-img" href="{% url 'login' %}">
              <img src="{% static 'site_images/borrowbookicon.png' %}" width="45" height="45" alt="BorrowPic">
            </a>
            {%endif%}
          </li>
        </ul> 

        <!--Profile section-->
        <ul class="navbar-nav list-unstyled">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle invert-navbar-img" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{% static 'site_images/profile.png' %}" class="rounded-circle" width="45" height="45" alt="ProfilePic">
          </a>
        
  
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if user.is_authenticated %}
              <a class="dropdown-item" href="{%url 'profile' %}">Profilom</a>
              {%if user.is_staff%}
                <a class="dropdown-item" href="{%url 'admin:index' %}">Admin Felület</a>
              {%endif%}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">Kijelentkezés</a>
            {% else %}
              <a class="dropdown-item" href="{% url 'login' %}">Bejelentkezés</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'register' %}">Regisztráció</a>
            {% endif %}
              </li>
            </ul>
          </div>

        <!-- Search form -->
        <form class="form-inline my-2 my-lg-0 ml-3" method="get" action="{% url 'search_site' %}">
          <input
            id="searchField"
            class="form-control mr-sm-2"
            style="width:20rem; height: 4rem;"
            type="search"
            name="searches"
            placeholder="Keresés... 🔎"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0 search-button" type="submit">
            Keresés
          </button>
        </form>
      </div>
    </div>
  </nav>
  
  